<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.watersystem.mapper.userMapper">

    <select id="findUserByName" parameterType="String" resultType="com.watersystem.po.user">
    
    SELECT * FROM USER WHERE username="${value}"
    
    </select>



</mapper>